<!DOCTYPE html>
<html>
<head>
    <title>Invoice</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            font-size: 18px;
            line-height: 1.5;
            margin: 0;
            padding: 0;

        }

        .container {
            max-width: 600px;
            margin: 0 auto;
            border: 1px solid #ccc;
            background-color: #fff;
            box-shadow: 0 0 10px #ddd;
        }

        .header {
            text-align: left;
            margin-bottom: 20px;
        }

        .header h1 {
            font-size: 35px;
            font-weight: bold;
            margin: 0;
            color: #c9302c;
        }

        .company-info {
            margin-bottom: 20px;
        }

        .company-info p {
            margin: 0;
            line-height: 1.5;
        }

        .invoice-details {
            margin-bottom: 20px;
        }

        .invoice-details p {
            margin: 0;
            line-height: 1.5;
        }

        table {
            width: 100%;
            border-collapse: collapse;
        }

        th, td {
            height: 40px;
            text-align: left;
            font-size: 17px;
            padding: 8px;
            border-bottom: 1px solid #ddd;
        }

        th {
            font-weight: bold;
        }

        .totals {
            margin-top: 20px;
            text-align: left;
        }

        .totals p {
            margin: 0;
            line-height: 1.5;
        }

        .footer {
            text-align: center;
        }

        .footer p {
            margin: 0;
            line-height: 1.5;
        }

    </style>
</head>
<body>
<div class="container">
    <div class="header" style="font-family: Noto Sans JP, sans-serif;">
        <h1>REÇU</h1>
    </div>
    <br/>
    <hr style="color:#c9302c ;height: 3px"></hr>
    <br/>

    <table style="width: 100%">

                            <tr>
                        <td style="text-align: left;border-bottom: 0"><span style="font-weight: bold;">Reference:</span> $reference</td>
                    </tr>
                    <tr>
                        <td style="text-align: left;border-bottom: 0"><span style="font-weight: bold;">UploadDate:</span> $uploadDate</td>
                    </tr>
                    <tr>
                        <td style="text-align: left;border-bottom: 0"><span style="font-weight: bold;">DateLastUpdate:</span> $dateLastUpdate</td>
                    </tr>
                    <tr>
                        <td style="text-align: left;border-bottom: 0"><span style="font-weight: bold;">Content:</span> $content</td>
                    </tr>
                    <tr>
                        <td style="text-align: left;border-bottom: 0"><span style="font-weight: bold;">Size:</span> $size</td>
                    </tr>
                <tr>
                    <td style="text-align: left;border-bottom: 0"><span style="font-weight: bold;">DocumentType:</span> $documentType.libelle</td>
                </tr>
                <tr>
                    <td style="text-align: left;border-bottom: 0"><span style="font-weight: bold;">Utilisateur:</span> $utilisateur.name</td>
                </tr>
                    <tr>
                        <td style="text-align: left;border-bottom: 0"><span style="font-weight: bold;">Archive:</span> $archive</td>
                    </tr>
                    <tr>
                        <td style="text-align: left;border-bottom: 0"><span style="font-weight: bold;">Versionne:</span> $versionne</td>
                    </tr>
                <tr>
                    <td style="text-align: left;border-bottom: 0"><span style="font-weight: bold;">EntiteAdministrative:</span> $entiteAdministrative.libelle</td>
                </tr>



    </table>
    <br/><br/><br/><br/><br/>
    <table>
        <thead>
        <tr style="background-color: #e9ebec">
                            <th>Document</th>
                            <th>Groupe</th>
                            <th>DateShare</th>
                            <th>AcessShare</th>
                            <th>Document</th>
                            <th>Utilisateur</th>
                            <th>DateShare</th>
                            <th>AcessShare</th>
                            <th>Document</th>
                            <th>Groupe</th>
                            <th>DateManagement</th>
                            <th>AcessManagement</th>
                            <th>Document</th>
                            <th>Utilisateur</th>
                            <th>DateManagement</th>
                            <th>AcessManagement</th>
        </tr>
        </thead>

        <tbody>
                #foreach( $item in $documentPartageGroupes )
                #if( ($foreach.index % 2) == 0 )
                <tr style="background-color: #f4f5f6">
                    #else
                <tr style="background-color: #e9ebec">
                    #end
                            <td>$item.groupe.libelle</td>
                            <td>$item.dateShare</td>
                            <td>$item.acessShare.libelle</td>
                </tr>
                #end
                #foreach( $item in $documentPartageUtilisateurs )
                #if( ($foreach.index % 2) == 0 )
                <tr style="background-color: #f4f5f6">
                    #else
                <tr style="background-color: #e9ebec">
                    #end
                            <td>$item.utilisateur.name</td>
                            <td>$item.dateShare</td>
                            <td>$item.acessShare.libelle</td>
                </tr>
                #end
                #foreach( $item in $documentManagementGroupes )
                #if( ($foreach.index % 2) == 0 )
                <tr style="background-color: #f4f5f6">
                    #else
                <tr style="background-color: #e9ebec">
                    #end
                            <td>$item.groupe.libelle</td>
                            <td>$item.dateManagement</td>
                            <td>$item.acessManagement.libelle</td>
                </tr>
                #end
                #foreach( $item in $documentManagementUtilisateurs )
                #if( ($foreach.index % 2) == 0 )
                <tr style="background-color: #f4f5f6">
                    #else
                <tr style="background-color: #e9ebec">
                    #end
                            <td>$item.utilisateur.name</td>
                            <td>$item.dateManagement</td>
                            <td>$item.acessManagement.libelle</td>
                </tr>
                #end


        </tbody>
    </table>
    <br/><br/><br/><br/><br/><br/>

    <div class="footer">
        <p style="font-size: 25px">MERCI POUR VOTRE SERVICE!</p>
        <p style="font-size: 18px">Si vous avez des questions, veillez contacter nous.</p>
    </div>
    <br/><br/>
    <hr style="color:#c9302c ;height: 3px"></hr>
</div>
</body>
</html>

